<%= form_for([:admin,@event]) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

	<ul>
		<% @event.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :name %>
	<br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :description %>
	<br />
	<%= f.text_field :description %>
</div>
<div class="field">
	<%= f.label :event_date %>
	<br />
	<%= f.date_select :event_date %>
</div>


<div class="row">
	<div class="large-12 columns">
		<ul class="large-block-grid-5 clearing-thumbs" data-clearing>
			<% @event.event_photos.each do |event_photo| %>
			<li>
				<div class="row">
					<div class="large-12 columns">
						<%= link_to(image_event_photo_url(event_photo) ) do %>
						<%= image_tag(image_event_photo_url(event_photo),
						:alt => 'image', 'data-caption' => 'CAPTION') %>
						<% end %>
					</div>

				</div>
				<div class="row">
					<div class="large-12 columns">
						<%= link_to 'Excluir', admin_event_event_photo_path(@event,event_photo), method: :delete, data: { confirm: 'Você tem certeza?' } %>
					</div>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
<% @event_photo = EventPhoto.new %>

