<h1><%= t(".title") %></h1>
<ul class="small-block-grid-1 large-block-grid-4">
	<% @events.each do |event| %>
	<li>
		<%= link_to edit_admin_event_path(event) do %>
		<div class="row">
			<div>
				<span><%= event.name %></span>
			</div>
			<div class="large-12 columns">
				<%= unless event.cover_file_name.nil? then
          image_tag(cover_image_event_url(event),
				:alt => 'image', 'data-caption' => 'CAPTION')
        end %>
			</div>
			<div>
				<%= l event.event_date %>
			</div>
		</div>
		<% end %>

		<div class="row">
			<div class="large-12 columns">
				<%= link_to 'Deletar', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' },
					:class => "button" %>
			</div>
		</div>
	</li>
	<% end %>
</ul>
<br />

<%= link_to 'Novo', new_admin_event_path, :class => "button" %>
