<h1>Listing events</h1>
<ul class="small-block-grid-1 large-block-grid-4">
	<% @events.each do |event| %>
	<li>
		<div class="row">
			<div>
				<h2><%= event.name %></h2>
			</div>
			<div class="large-12 columns">
				<%= unless event.cover_photo.nil? then
          image_tag(image_event_photo_url(event.cover_photo),
				:alt => 'image', 'data-caption' => 'CAPTION')
        end %>
			</div>
			<div>
				<%= event.event_date %>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<%= link_to 'Show', event %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<%= link_to 'Edit', edit_event_path(event) %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		</div>
	</li>
	<% end %>
</ul>
<br />

<%= link_to 'New Event', new_event_path %>
