<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Name:</b>
	<%= @event.name %>
</p>

<p>
	<b>Description:</b>
	<%= @event.description %>
</p>

<p>
	<b>Event date:</b>
	<%= l @event.event_date %>
</p>
<div class="switch">
  <input id="rad-before" name="switch-before-after" type="radio" >
  <label for="rad-before" onclick="">Antes</label>

  <input id="rad-after" name="switch-before-after" type="radio" checked>
  <label for="rad-after" onclick="">Depois</label>
  <span class="switch-lever"></span>
</div>

<div class="row">
	<div class="large-12 columns">
		<ul class="small-block-grid-1 large-block-grid-5 clearing-thumbs" data-clearing>
			<% @event.event_photos.each do |ep| %>
			<li>
				<%= link_to(before_image_event_photo_url(ep) ) do %>
				<%= image_tag(before_image_event_photo_url(ep),
				:alt => ep.before_file_name, 'data-caption' => '') %>
				<% end %>
			</li>
			<li>
				<%= link_to(after_image_event_photo_url(ep) ) do %>
				<%= image_tag(after_image_event_photo_url(ep),
				:alt => ep.after_file_name, 'data-caption' => '') %>
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<%= link_to 'Back', events_path, :class => "button" %>
