<h1></h1>
<div class="row">
			<div class="small-11 small-centered columns">
				<ul data-orbit data-options="timer_speed:3000; bullets:true;">
					<li>
						<%= image_tag('index_slide_1.jpg') %>
						<div class="orbit-caption">
						</div>
					</li>
					<li>
						<%= image_tag('index_slide_2.jpg') %>
						<div class="orbit-caption">
						</div>
					</li>
					<li>
						<%= image_tag('index_slide_3.jpg') %>
						<div class="orbit-caption">
						</div>
					</li>
					<li>
						<%= image_tag('index_slide_4.jpg') %>
						<div class="orbit-caption">
						</div>
					</li>
					<li>
						<%= image_tag('index_slide_5.jpg') %>
						<div class="orbit-caption">
						</div>
					</li>
				</ul>
			</div>
		</div>