<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event_photo.event %>
</p>

<p>
  <b>File name:</b>
  <%= @event_photo.file_name %>
</p>

<p>
  <b>Content type:</b>
  <%= @event_photo.content_type %>
</p>

<p>
  <b>Binary data:</b>
  <%= @event_photo.binary_data %>
</p>


<%= link_to 'Edit', edit_event_photo_path(@event_photo) %> |
<%= link_to 'Back', event_photos_path %>
