<%= form_for([:admin, @event, @event_photo]) do |f| %>
	<% if @event_photo.errors.any? %>
	<div id="error_explanation">
		<ul>
			<% @event.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

  <div class="field">
    <%= f.label :before_image_file %><br />
    <%= f.file_field :before_image_file %>
  </div>
  <div class="field">
    <%= f.label :after_image_file %><br />
    <%= f.file_field :after_image_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
