<h1>Listing event_photos</h1>

<div class="row">
	<div class="large-2 columns">
		Evento
	</div>
	<div class="large-2 columns">
		Nome do Arquivo
	</div>
	<div class="large-2 columns">
		Tipo de Conteúdo
	</div>
	<div class="large-3 columns">
		Imagem
	</div>
</div>
<% @event_photos.each do |event_photo| %>
<div class="row">
	<div class="large-2 columns">
		<%= event_photo.event %>
	</div>
	<div class="large-2 columns">
		<%= event_photo.file_name %>
	</div>
	<div class="large-2 columns">
		<%= event_photo.content_type %>
	</div>
	<div class="large-3 columns">
		<%= image_tag(image_event_photo_url(event_photo), :alt => 'image') %>
	</div>
	<div class="large-1 columns">
		<%= link_to 'Show', admin_event_photo_path(event_photo.id) %>
	</div>
	<div class="large-1 columns">
		<%= link_to 'Edit', edit_admin_event_photo_path(event_photo.id) %>
	</div>
	<div class="large-1 columns">
		<%= link_to 'Destroy', admin_event_photo_path(event_photo.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>
<% end %>

<br />

<%= link_to 'New Event photo', new_admin_event_photo_path %>
<br />
